﻿.tbl-activeremediations {
    /*height: 335px;*/
    overflow: hidden;
    margin-bottom: 10px;
    overflow-x: hidden;
}

.tbl-heightDashRemed{
    height:260px;
    overflow:auto;
}

.tbl-heightAllRemed {
    height: 250px;
    overflow: auto;
}

.buttonClicked {
    color: #00578E;
    background-color: transparent;
    font-weight: 600;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #007bff;
    margin-right: 40px;
}
.buttonNotClicked {
    color: #525252;
    background-color: transparent;
    border: 0;
    margin-right:40px;
}



