﻿.alert-message {
    font-weight: 600;
    color: #000000;
}

.dsb-alert-hght {
   height: 380px;
}

.buttonClicked {
    color: #00578E;
    background-color: transparent;
    font-weight: 600;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #007bff;
    margin-right: 40px;
}

.buttonNotClicked {
    color: #525252;
    background-color: transparent;
    border: 0;
    margin-right: 40px;
}
.alert-mesg {
    position: relative;
    top: -49px;
}


.uploads-mesg {
    overflow: auto;
    height: 240px;
    padding: 0 10px 0 10px;
}

.notifcs .Button-badge {
    position: absolute;
    bottom: 84%;
    left: 130px;
}

.notifcs .Button-badge-2 {
    position: absolute;
    bottom: 84%;
    left: 215px;
    transform: translateX(8px);
    background-color: #c55022;
    font-size: 14px;
    line-height: 0;
    font-weight: 500;
    color: #fff;
    padding: 1em 0.7em;
    border-radius: 100vh;
}


.alert-mesg .nav-link {
    color: #00578E;
    background-color: transparent;
    padding-top: 15px;
    font-weight: 600;
}

.alert-mesg .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px solid #00578E;
}

.alert-mesg div#pills-tabContent {
    border-top: 1px solid #DDDDDD;
}

.alert-mesg p {
    margin-bottom: 1px;
}

.alert-mesg a {
    font-weight: 600;
    color: #000000;
}

.Button-badge-dsb {
    position: absolute;
    transform: translateX(8px);
    background-color: #c55022;
    font-size: 14px;
    line-height: 0;
    font-weight: 500;
    color: #fff;
    padding: 1em 0.7em;
    border-radius: 100vh;
}

.Button-badge-dsb2 {
    position: absolute;
    transform: translateX(8px);
    background-color: #c55022;
    font-size: 14px;
    line-height: 0;
    font-weight: 500;
    color: #fff;
    padding: 1em 0.7em;
    border-radius: 100vh;
}