﻿@media (min-width: 1920px) {
    .apexcharts-canvas {
        width: 100% !important;
    }

        .apexcharts-canvas foreignObject {
            width: 530px !important;
        }

        .apexcharts-canvas svg {
            width: 100% !important;
        }
}

@media (max-width: 1920px) {
    .apexcharts-canvas {
        width: 100% !important;
    }

        .apexcharts-canvas foreignObject {
            width: 530px !important;
        }

        .apexcharts-canvas svg {
            width: 100% !important;
        }
}

