﻿
/*Base CSS */

Body {
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    overflow-x: hidden;
	font-family: 'Open Sans', sans-serif !important;
    font-weight: normal;
    font-style: normal;   
    -webkit-text-size-adjust: 100%;
}

a{
	color:#00578E;
}


b, strong {
    font-weight: 900;
}

.i-con {
    font-size: 1.2rem;
}

.strong {
    font-weight: 900;
}


.bold {
    font-weight: 900 !Important;
}
.f-normal{
font-weight:normal;	
}

.page-height {
    height: 100%;
}

.text-pre {
	white-space:pre !important;
}


.main{
	padding-left:25px;
	padding-right:25px;
}


.h1-title{
	color:#525252;
	font-size:22px;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:1.5rem;
}
.h2-title{
	color:#525252;
	font-size:18px;
	font-weight:normal;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:1rem;
	font-weight:700 !Important;
}


.red-color{
	
	color:red;
}

.orange-color{	
	color:orange;
}

.ml10{
	margin-left:10px;
}

.fs-1rem{
	font-size:1rem;
	font-weight:normal;
}
.mt-30{
margin-top:30px;	
}

.mt-10 {
	margin-top: 10px;
}

.mb-30{
margin-bottom:30px;	
}


.gray-bg{
	background-color:#F5F5F5;
	border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.gray-bg .h2-title{
	color:#000;
}
.m-height{
	min-height:380px;
}

button a {
	color:#ffffff;
	text-decoration:none;
}
button a:hover {
	color:#ffffff;
	text-decoration:none;
}

.client-yscroll{
	overflow: auto;
}

.btn-secdry a{
	color:#6D6D6D;
}

.btn-secdry a:hover{
	color:#6D6D6D;
}

label {
	font-weight: 600;
}

.cusmr-advSearch button.close {
	font-size: 2.5rem;
	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 99;
	color: #343a40 !important;
	opacity: 1;
}

/*------- Header section-------------*/

.home-link{
	padding-top:10px;
	margin-right:40px;
}

.navbar-light .navbar-nav .nav-link{
	color:#ffffff;
}

.header-section{
	height:65px;
	background-color:#003657;
	    padding-left: 30px;
}

.home-link a{
	text-decoration:none;	
	color: #ffffff;
}

.navbar-expand-lg .navbar-nav .nav-link{
	color:#ffffff;
	cursor: pointer;
	
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
	color:#ffffff;
	cursor: pointer;
	
}

.bg-color{
	background-color:#F5F5F5;
	border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
	
}

/*-----------------Nav Tabs -----------------*/

#nav-tab .active {
	background-color: #d8d8d8;
}

.nav-bg{
	background-color:#F0F0F0;
	height:50px;
	padding:0;
	
}

.tab-links{
	height:50px;
}

.tab-links a{
	color:#005D98;
	padding-top:14px;
	padding-bottom:0;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
}

.nav-bg .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	    background-color: #d8d8d8;
		color:#003757;
		    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
}
a.nav-link.active{
	background-color: #d8d8d8;
	color:#005D98;
	padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 0;
}

.d-icon {
	width:27px;
	margin-right:10px;
}

.s-icon{
	background: #ffffff;
    color: #6D6D6D;
	border:1px solid #ced4da;
}

/*--- Body Content ------------*/

.content-section{
	padding:15px;
	min-height:450px;
}

.box{
	padding:10px;
	border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
}



.box-border{
	border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
}

#custom-search-input{
	width:80%;
}


.uploads-info a{
	color:#00578E;
	font-weight:700;
}
.uploads-info p{
	margin-bottom: 0.4rem;
}
.i-txt{
	font-style:italic;
}


.upl-section{
	border-bottom:1px solid #999999;
	padding-bottom:10px;
	padding-top:10px;
	
}

.btn-wid{
	width:74px;
}

/*---------- Login--------------------------*/

.login-bg{
	background: url(../images/BR_Abstract_Digital_Bg.png);
    background-position: top center;
    background-size: cover;
	
}

#signIn-section{
	width:560px;
	margin: 0 auto;
	height:420px
}

.logo-text{
font-size:32px;
color:#fff;
text-align:center;	
}

.signIn-form{
	padding:60px;
	background-color:#fff;
	height:420px;
}

a.white{
	color:#fff;
}

.mb-5{
	margin-bottom:5%;
}
/*----- Buttons ----------------------------*/

.btn-primary{	
	background-color:#2B5BB6 !important;
	border: 1px solid #00578E;
	box-sizing: border-box;
	border-radius: 1px;
	min-width:100px;
	text-align:center !important;
}

.btn-secdry{	
	background-color:#D8D8D8 !important;
	border: 1px solid #D8D8D8;
	box-sizing: border-box;
	border-radius: 1px;
	min-width:100px;
}

.btn-border{	
	background-color:#ffffff !important;
	border: 1px solid #2B5BB6;
	box-sizing: border-box;
	border-radius: 1px;
	color:#2B5BB6;
}

.min-w145{
width:145px;	
}

/*--------- Tabs --------------------*/

.nav-tabs .nav-link{
	
	   color: #005D98;
	   padding-top: 14px;
    padding-bottom: 14px;
	font-weight:700;
	    margin: 0 15px 0 15px;
}

/*------------- forms -----------------*/


.col-form-label{
	font-size:16px;
	color:#414141;
	font-weight:400;
	
}

/*---------------- Colors ------------------*/

.main-blue{
color:#00578E;	
}



.all-remed .nav-link{
	color:#6D6D6D;
	background-color:transparent;
	padding-top: 15px;
}

.all-remed .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	color:#005D98;
	background-color:transparent;
	text-decoration:underline;
	font-weight:600;
}
.activ-remed{
	position:relative;
	top:-50px;
}



.col-form-label{
	    line-height: 20px;
}

.box-height{
	height:415px;
	overflow:hidden;
	margin-bottom:10px;	
    overflow: hidden;
	
}

.box-heightconsumerSearch {
	height: 225px;
	overflow: hidden;
	margin-bottom: 10px;
	overflow: hidden;
}


.wid29p{
	width:29%;
}
/*----------Remediations ---------------*/

.reme-section label{
	font-weight:600;
}

.reme-section .form-group{
	margin-bottom:0.4rem;
}


.rem-check .amt-head {
	width:280px;
}

.amt-head .col-sm-6 {
	padding-right: 2px !important;
	padding-left: 2px !important;
}

.bdr-none {
	border: 0 none !important;
	border-bottom: 0 none !important;
	border: 0 !important;
}

table.amt-head {
	border: 0 none !important;
	border-bottom: 0 none !important;
	border: 0 !important;
}


.row + .amt-head {
	border: 0 none !important;
	border-bottom: 0 none !important;
	border: 0 !important;
}

table.amt-head td {
	border: 0 none !important;
	border-bottom: 0 none !important;
	border: 0 !important;
}

/*.tbl-box-heightsearchresults thead {
	width: calc(100% - 1.1em);
}

.tbl-box-heightsearchresults thead {
	position: relative;
}*/
/*--------------favorites section-----------------------*/
.flex-section {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.items{
	width:16.1%;
	height:107px;
	border:1px solid #a6a5a5;
	border-radius:5px;	
	margin-right: 5px;
	flex-basis: 16.1%;
	margin-top:5px;
}


.s-icon{
	
	border-radius: 0px 5px 5px 0px !important;
	
	
}

/*---------- Slider ------------------*/

/*----- Menu 1----------------------*/
ul{margin:0;padding:0;}
.attention{display:table-cell;font-size:48px;height:100vh;text-align:center;vertical-align:middle;width:100vw;}
.menu{
background:#ffffff;
color:#000000;
float:left;
height:100%;
left:0;
max-width:0;
overflow:hidden;
position:absolute;
top:0;
width:100%;
z-index:11;

border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
}
.menu-button{cursor:pointer;}
.menu-open{max-width:250px;padding:15px;}

/*----- Menu 2----------------------*/

.menu-2{
background:#ffffff;
color:#000000;
float:left;
height:100%;
left:0;
max-width:0;
overflow:hidden;
position:absolute;
top:0;
width:100%;
z-index:11;

border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
}
.menu-button-2{cursor:pointer;}
.menu-open-2{
	max-width:450px;
	padding:15px;
	min-height: 800px;
	}

.menu-2 .form-group {
    margin-bottom: 0.4rem;
}

/*----- Menu 3----------------------*/

.menu-3{
background:#ffffff;
color:#000000;
float:right;
height:100%;
right:0;
max-width:0;
overflow:hidden;
position:absolute;
top:0;
width:100%;
z-index:11;

border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
}
.menu-button-3{cursor:pointer;}
.menu-open-3{
	max-width:300px;
	padding:15px;
	min-height: 800px;
	position:fixed;
	}

.menu-3 .form-group {
    margin-bottom: 0.4rem;
}


/*----- Menu 4----------------------*/

.menu-4{
background:#ffffff;
color:#000000;
float:right;
height:100%;
right:0;
max-width:0;
overflow:hidden;
position:absolute;
top:0;
width:100%;
z-index:11;
border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
}
.menu-button-4{cursor:pointer;}
.menu-open-4{
	max-width:300px;
	padding:15px;
	min-height: 800px;
	position:fixed;
	}

.menu-4 .form-group {
    margin-bottom: 0.4rem;
}



/*----- Menu 5----------------------*/

.menu-5{
background:#ffffff;
color:#000000;
float:right;
height:100%;
right:0;
max-width:0;
overflow:hidden;
position:absolute;
top:0;
width:100%;
z-index:11;

border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
}
.menu-button-5{cursor:pointer;}
.menu-open-5{
	max-width:300px;
	padding:15px;
	min-height: 800px;
	position:fixed;
	}

.menu-5 .form-group {
    margin-bottom: 0.4rem;
}



/*----- Menu 6----------------------*/

.menu-6{
background:#ffffff;
color:#000000;
float:right;
height:100%;
right:0;
max-width:0;
overflow:hidden;
position:absolute;
top:0;
width:100%;
z-index:11;

border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
}
.menu-button-6{cursor:pointer;}
.menu-open-6{
	max-width:300px;
	padding:15px;
	min-height: 800px;
	position:fixed;
	}

.menu-6 .form-group {
    margin-bottom: 0.4rem;
}




/*----- Edit Remed Menu 7----------------------*/

.menu-7{
background:#ffffff;
color:#000000;
float:right;
right:0;
max-width:0;
overflow:hidden;
position:absolute;
top:0;
width:100%;
z-index:11;
border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
	
	
}


.menu-button-7{cursor:pointer;}
.menu-open-7{
	max-width:300px;
	padding:15px;
	min-height: 1000px;
	position:fixed;
	}

.menu-7 .form-group {
    margin-bottom: 0.4rem;
}

/*----- Create Remed Menu 8----------------------*/

.menu-8{
background:#ffffff;
color:#000000;
float:right;
right:0;
max-width:0;
overflow:hidden;
position:absolute;
top:0;
width:100%;
z-index:11;
border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
	
	
}


.menu-button-8{cursor:pointer;}
.menu-open-8{
	max-width:300px;
	padding:15px;
	min-height: 1000px;
	position:fixed;
	}

.menu-8 .form-group {
    margin-bottom: 0.4rem;
}

.client-list-height{
	min-height:400px;
}

.client-alert-height{
	min-height:555px;
}


/*----- Re issues 9----------------------*/

.menu-9{
background:#ffffff;
color:#000000;
float:right;
right:0;
max-width:0;
overflow:hidden;
position:absolute;
top:0;
width:100%;
z-index:11;
border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
	
	
}


.menu-button-9{cursor:pointer;}
.menu-open-9{
	max-width:300px;
	padding:15px;
	min-height: 1000px;
	position:fixed;
	}

.menu-9 .form-group {
    margin-bottom: 0.4rem;
}


.postion-btm {
	position:fixed;
	bottom:0;
	margin:0 auto;
}


/*----- cusumers 10----------------------*/

.menu-10{
background:#ffffff;
color:#000000;
float:right;
right:0;
max-width:0;
overflow:hidden;
position:absolute;
top:0;
width:100%;
z-index:11;
border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
	
	
}


.menu-button-10{cursor:pointer;}
.menu-open-10{
	max-width:390px;
	padding:15px;	
	position:fixed;
	
	}

.menu-10 .form-group {
    margin-bottom: 0.4rem;
}


/*----- cusumers 11----------------------*/

.menu-11{
background:#ffffff;
color:#000000;
float:right;
right:0;
height:100%;
max-width:0;
overflow:hidden;
position:absolute;
top:0;
width:100%;
z-index:11;
border:1px solid #cccccc;
	box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-webkit-box-shadow: -1px 2px 2px 0px rgba(174,171,171,0.82);
	-moz-box-shadow: -1px 2x 2px 0px rgba(174,171,171,0.82);
	
	
}


.menu-button-11{cursor:pointer;}
.menu-open-11{
	max-width:300px;
	padding:15px;	
	position:fixed;
	
	}

.menu-10 .form-group {
    margin-bottom: 0.4rem;
}



/*----- Dashboa -----------------*/

.amt-orng {
	font-size: 26px;
	color: #B35719;
}

/*-------------------------------  padding ---------------- - */
.padding-0 {
    padding: 0;
}

.padding0 {
    padding: 0 !important;
}

.padding10 {
    padding: 10px !important;
}

.padding15 {
    padding: 15px !important;
}

/* ------- Notifcation--------- */


.Button-badge {
	position: absolute;
	bottom: 80%;
	/* left: 110px;*/
	transform: translateX(8px);
	background-color: #c55022;
	font-size: 14px;
	line-height: 0;
	font-weight: 500;
	color: #fff;
	padding: 1em 0.7em;
	border-radius: 100vh;
}

.Button-badge-2 {
	position: absolute;
	bottom: 80%;
	/* left: 193px;*/
	transform: translateX(8px);
	background-color: #c55022;
	font-size: 14px;
	line-height: 0;
	font-weight: 500;
	color: #fff;
	padding: 1em 0.7em;
	border-radius: 100vh;
}

.Button-badge-redm {
	position: absolute;
	bottom: 86%;
	transform: translateX(8px);
	background-color: #c55022;
	font-size: 14px;
	line-height: 0;
	font-weight: 500;
	color: #fff;
	padding: 1em 0.7em;
	border-radius: 100vh;
}

.Button-badge-redm2 {
	position: absolute;
	bottom: 86%;
	transform: translateX(8px);
	background-color: #c55022;
	font-size: 14px;
	line-height: 0;
	font-weight: 500;
	color: #fff;
	padding: 1em 0.7em;
	border-radius: 100vh;
}


/*---------------- Remediations ------------------*/

.active-remdtn {
	width:100%;
	display:block;
	padding-left: 0;
}

.active-remdtn li{
	float:left;	
	list-style:none;
	margin-right: 15px;
}

.active-remdtn .pt-10{
	padding-top:10px;
}

.li-fst{
	width:15%;
}

.li-scnd{
	width:13%;
}

.3-tre{
	width:18%;
}

.4-four{
	width:17%;
}

.5-five{
	width:16%;
}

/*------------Consumer -------------*/

.consumer a{
	font-weight:600;
}

.cusmr-advSearch .toast-header{
	position:absolute;
	right:20px;
}

.cusmr-advSearch label{
	font-weight:700;
}
.cums-box-height{
	min-height:510px;
}

.cums-box1{
	height:250px;
}

.cums-box2{
	height:240px;
}


.cusmr-Search .toast-header {
    position: absolute;
    right: 20px;
    top: -50px;
}
/*----- Reissues -----------------*/

.total-checks{
	width:60%;
	float:right;
	margin-bottom:10px;
	padding:5px;
}

/*---------- Banking -----------------*/

.bank-tabs .nav-tabs .nav-link {
	border-top:0 none !important;
	border-left:0 none !important;
	border-right:0 none !important;
}

.bank-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	
    border-bottom: 3px solid #00578E !important;
	background-color:transparent;
}

.p-t150{
	padding-top:150px;
}
.mt-100{
	margin-top:100px;
}

.bank-tabs .date-input {
    width: 173px !important;
}
/*------ Documents ---------------*/

.doc-link{
		color:#00578E;
		font-weight:600;
		line-height: 37px;
}

.doc-link .fa-times {
	color:#000;
}




/*----------- Date -----------------*/
.date-range .date-input{
	width:160px;
	font-size:1em;
}

.date-input {
	width:160px;
}

.date-input-l {
	width:100%;
}

/*------ Choose file -----------------*/

.variants > div {
  margin-right: 5px;
}

.variants > div:last-of-type {
  margin-right: 0;
}

.file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > input[type='file'] {
  display: none
}

.file > label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 29%);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > label:hover {
  border-color: hsl(0, 0%, 21%);
}

.file > label:active {
  background-color: hsl(0, 0%, 96%);
}

.file > label > i {
  padding-right: 5px;
}

.file--upload > label {
 color: #6D6D6D;
    border-color: #C3C2C2;
    border: dotted 2px #C3C2C2;
}

.file-active .fa-cloud-upload-alt{
	color:#00578E;
}

.file-active label {
 color: #000;
 
}

.file--upload > label:hover {
  border-color: hsl(204, 86%, 53%);
  background-color: hsl(204, 86%, 96%);
}

.file--upload > label:active {
  background-color: hsl(204, 86%, 91%);
}

.file--uploading > label {
  color: hsl(48, 100%, 67%);
  border-color: hsl(48, 100%, 67%);
}

.file--uploading > label > i {
  animation: pulse 5s infinite;
}

.file--uploading > label:hover {
  border-color: hsl(48, 100%, 67%);
  background-color: hsl(48, 100%, 96%);
}


@keyframes pulse {
  0% {
    color: hsl(48, 100%, 67%);
  }
  50% {
    color: hsl(48, 100%, 38%);
  }
  100% {
    color: hsl(48, 100%, 67%);
  }
}

/*------ Form ------------------------*/

.form-inline label {
	    justify-content: left !important;
}

/*----- Popup Model ----------------*/

#More-Details .modal-dialog {
	max-width: 100%;
	width: 100%;
	margin-top: 0;
	padding-right:200px;
	
}

#task-Details .modal-dialog {
	max-width: 100%;
	width: 100%;
	margin-top: 0;
	padding-right: 200px; 
}


/*.modal-backdrop.show {
	opacity: unset !important;
}*/

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
	margin-top: 110px !important;
}
.modal-backdrop {
	position: fixed;
	top: 20% !important;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;	
}

.modal-open {
padding-right:0 !important;
}
/*---- Breadcrumb -----------*/
.breadcrumb-sect ul {
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: left;
	align-items: center;
}

.breadcrumb-sect li {
  position: relative;
  background: #C4C4C4;
  color: #Fff;
  height: 40px;
  padding: 0 15px 0 25px;
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 14px;
  margin-bottom: 10px;
}

.breadcrumb-sect li::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #C4C4C4;
    top: 0;
    right: -10px;
    z-index: 9;
    border-right: 2px solid #fff;
    transform: skewX(45deg);
}

.breadcrumb-sect li::before {
      content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #C4C4C4;
    bottom: 0;
    right: -10px;
    z-index: 9;
    border-right: 2px solid #fff;
    transform: skewX(-45deg);
}

.brdcrumb-blue{
	background-color:#2B5BB6 !important;
}

.breadcrumb-sect li.brdcrumb-blue::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #2B5BB6;
    top: 0;
    right: -10px;
    z-index: 9;
    border-right: 2px solid #fff;
    transform: skewX(45deg);
}

.breadcrumb-sect li.brdcrumb-blue::before {
      content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #2B5BB6;
    bottom: 0;
    right: -10px;
    z-index: 9;
    border-right: 2px solid #fff;
    transform: skewX(-45deg);
}


.brdcrumb-green{
	background-color:#00B050 !important;
}

.breadcrumb-sect li.brdcrumb-green::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #00B050;
    top: 0;
    right: -10px;
    z-index: 9;
    border-right: 2px solid #fff;
    transform: skewX(45deg);
}

.breadcrumb-sect li.brdcrumb-green::before {
      content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #00B050;
    bottom: 0;
    right: -10px;
    z-index: 9;
    border-right: 2px solid #fff;
    transform: skewX(-45deg);
}



/*---------- Reports ----------*/

.reports label{
	font-weight:700;
	color:#000;
}
.ttl-line {
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 10px;
	text-align: center;
	width: 285px;
}

.amt-head{
	margin: 0 5px 0 5px;
}
.amt-head .col{
	
	padding-right: 5px !important;
    padding-left: 5px !important;
}
.amt-head  .form-control{
	border:0 none !important;
	padding:0px !important;
	
}
/*----------- Footer ------------------*/

#footer {
	padding:20px;
	border-top: 2px solid #003757;
}

.footer-links{
float:right;
}
.footer-links ul{
	width:100%;	
}

.footer-links li{
	list-style:none;
	float:left;
	margin-right:15px;
	color:#00598e;
}

.footer-links li a {
	color:#00598e;
	font-size:14px;
	font-weight:600;
}


.pagination {
   
    display: none !Important;
}

div#example2_info{
	
	  display: none !Important;
}



.all-remedi{
	position:relative;
}

.dsb-numbers{
	font-size:30px;
	color:#00578E;
	font-weight:700;
}

.p-ttle{
	font-size:20px;
	color:#525252;
}

/*------------ Custom font -------------------*/

 

/* open-sans-regular */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       /*url('../fonts/OpenSans-Regular.woff') format('woff'),*/ /* Modern Browsers */
       url('../fonts/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       /*url('../fonts/OpenSans-Regular.svg#OpenSans') format('svg');*/ /* Legacy iOS */
}

/* open-sans-regular */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       /*url('../fonts/OpenSans-Regular.woff') format('woff'),*/ /* Modern Browsers */
       url('../fonts/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       /*url('../fonts/OpenSans-Regular.svg#OpenSans') format('svg');*/ /* Legacy iOS */
}


/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-Semibold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/OpenSans-Semibold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
       /*url('../fonts/OpenSans-Semibold.svg#OpenSans') format('svg');*/ /* Legacy iOS */
}

/*
#SvgjsDefs1028 .apexcharts-legend {
	position:absolute;
	top:20px !important;
}

.apexcharts-legend {
	position: absolute;
	top: 20px !important;
}*/

.mt-70 {
	margin-top:70px;
}


/* Sliding Pane CSS*/
.slide-pane {
	display: flex;
	flex-direction: column;
	background: #fff;
	min-width: 100px;
	height: 100%;
	box-shadow: 0 8px 8px rgba(0,0,0,0.5);
	transition: transform 0.5s;
	will-change: transform;	
}

/*.slide-pane__content {
	overflow-y: unset !important;
}*/

.slide-pane:focus {
	outline-style: none;
}

.slide-pane_from_right {
	margin-left: auto;
	transform: translateX(100%);
}

	.slide-pane_from_right.content-after-open {
		transform: translateX(0%);
	}

	.slide-pane_from_right.content-before-close {
		transform: translateX(100%);
	}

.slide-pane_from_left {
	margin-right: auto;
	transform: translateX(-100%);
}

	.slide-pane_from_left.content-after-open {
		transform: translateX(0%);
	}

	.slide-pane_from_left.content-before-close {
		transform: translateX(-100%);
	}

.slide-pane__header {
	margin-top: 70px;
}

/*.slide-pane_from_bottom {
	height: 90vh;
	margin-top: 10vh;
	transform: translateY(100%);
}

	.slide-pane_from_bottom.content-after-open {
		transform: translateY(0%);
	}

	.slide-pane_from_bottom.content-before-close {
		transform: translateY(100%);
	}*/

.slide-pane_from_bottom {
	height: 90vh;
	margin-bottom: 10vh;
	transform: translateY(-100%);
}

	.slide-pane_from_bottom.content-after-open {
		transform: translateY(0%);
	}

	.slide-pane_from_bottom.content-before-close {
		transform: translateY(-100%);
	}

.slide-pane__overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0);
}

	.slide-pane__overlay.overlay-after-open {
		background-color: rgba(0,0,0,0.3);
		transition: background-color 0.5s;
	}

	.slide-pane__overlay.overlay-before-close {
		background-color: rgba(0,0,0,0);
	}

.slide-pane__header {
	display: flex;
	flex: 0 0 0px;
	align-items: center;
	/*background: #ebebeb;*/
	height: 50px;
	/*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

.slide-pane__title-wrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-left: 32px;
	min-width: 0;
}

.slide-pane .slide-pane__title {
	font-size: 18px;
	font-weight: normal;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	padding: 0;
}

.slide-pane__close {
	margin-left: 24px;
	padding: 16px;
	opacity: 0.7;
	cursor: pointer;
}

	.slide-pane__close i {
		width: 12px;
		padding: 0;
		font-size: 1.6rem;
	}

.slide-pane__content {
	position: relative;
	overflow-y: auto;
	padding: 24px 32px;
	flex: 1 1 auto;
}

.slide-pane__subtitle {
	font-size: 12px;
	margin-top: 2px;
}

.scroll {
	height: 200px;
	overflow: auto;
}


/* Not to display print content in UI*/
@media screen {
	.printContent {
		display: none
	}
}

@media print{
	@page {
		size: landscape /*portrait*/
	}}


/* search textbox width*/
#custom-search-input .form-control {
	width: 320px !important;
}


/*Modal pop up styles*/
.my-modal {
	width: 100%; /* Occupy the 90% of the screen width */
	max-width:100%;
	margin-top:0;
}
.my-modal-fullscreen {
	width: 100%; /* Occupy the 75% of the screen width */
	max-width: 100%;
	height: 85%; /* Occupy the 75% of the screen width */
	max-height: 85%;
	margin: 0 !important;
	margin-bottom: 100px !important;
}

.my-modal-fullscreen .modal-dialog {
	margin: 0 !important;
}
.modal {
	padding-right: 0 !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

.fade.modal.show {
	padding-right: 0 !important;
	padding-left: 0 !important;
}


.my-modal-fullscreen .close {
	font-size: 2.5rem;
	color: #656262 !important;
	opacity: 1;
}
/*--- Client All Remed -----*/
client-search {
	height: 415px;
}

/* button hyper link*/
.btn-link {
	color: #0879c1 !important;
	font-size:14px;
}

/*-- Slide nav---*/


.slide-pane__overlay {
z-index:999;
}


.modal-content {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height:100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0;
	overflow: auto;
}

input[type="checkbox"] {
	width: 18px;
	height: 18px;
}


/* -------- slide Panel -----*/

.rightSide-sliding-pane .slide-pane__close {
	margin-left: 24px;
	padding: 16px 16px 16px 40px;
	opacity: 0.7;
	cursor: pointer;
	float: right;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.rightSide-sliding-pane .slide-pane__title {
	font-size: 18px;
	font-weight: normal;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	padding: 15px 0px 0px 0px;
}

.rightSide-sliding-pane .slide-pane__header {
	display: block;
	flex: 0 0;
	align-items: center;
	height: 50px;
}

.tab-links-firstChild {
	padding-top: 11px !important;
}

.label-blue-nolink {
	color: #005D98;
}

/* Alert message Style*/
.modal-dialog {
	white-space: pre-wrap;
}

.label-error-red {
	color: #DF0000;
}

/*Manadatory field * symbol*/
.required:after {
	content: " *";
	color: red;
	font-weight: 100;
}

/*Added disabled color for contrast ratio issue*/
.btn.disabled, .btn:disabled {
	opacity: .75;
	background-color: #d8d8d8 !important;
	border: 1px solid #dfdfdf !important;
	color: #000 !important;
}

.consumer-removepadding .form-group {
	margin-bottom: 0px !important;
}

.pb-15 {
	padding-bottom: 15px;
}

.donut, .apexcharts-canvas, .apexcharts-canvas svg {
	height: 260px !important;
	
}

.donut [object] {
		height: 260px !important;
	}


.first_header {
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
.second_header {
	position: sticky;
	top: 65px;
	right: 0;
	left: 0;
	z-index: 99;
}

li.nav-item{
	margin-right:10px;
}

.logout{
	z-index:999 !important;
}

.chart-links {
	position: absolute;
	z-index: 999 !important;
	right: 30px;
}