/*----------------  1920 Scal 150% ---------------*/

@media screen and (min-width: 1080px) and (max-width: 1920px)  { 

.box-noBdr{
	padding:10px;	
}

}


/*----------------  1920 ---------------*/

@media (min-width: 1920px){
	.mt-70 {
		margin-top: 60px;
	}
#signIn-section{
	    margin-top: 70px;
}

.login-bg {
	height:700px;
}

.breadcrumb-sect li {
  position: relative;
 background: #C4C4C4;
  color: #Fff;
  height: 40px; 
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 16px;
}

.breadcrumb-sect li {
  padding: 0 20px 0 60px;  
}

.tableFixHead{
	overflow-y: auto;
    height: 310px;
}
.client-yscroll{
	
	overflow-y:scroll;
	overflow-x:hidden !Important;
	
}


.notifcs .Button-badge {
    position: absolute;
    bottom: 80%;
    left: 159px;
}

.notifcs .Button-badge-2 {
    position: absolute;
    bottom: 80%;
    left: 245px;
	
}

.Button-badge-redm {
    position: absolute;
    bottom: 82%;
	
}
.Button-badge-redm2 {
    position: absolute;
    bottom: 82%;
	
}
.h1-title {
    color: #525252;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.col-form-label {
    font-size: 18px;
    color: #414141;
    font-weight: 400;
}
.l-text{
	font-size: 20px;
	line-height:30px;
}

.amt-orng{
	font-size:36px;
	
}

.all-remed.box-height{
	height:337px;
}

.uploads-info{
	padding-left: 60px;
   
    height: 360px;
    overflow-y: scroll;
    margin-right: 80px;
}

.box{
	padding:20px;
}

.box-height{
	height: 370px;
    overflow: hidden;
    margin-bottom: 10px;
     
}

.client-search{
	height:470px;
}

.date-input-l{
	width:250px !Important;
}

.date-input{
	width:250px !Important;
}

.reme-section-height{
	min-height:610px;
}

.active-remdtn{
	margin-bottom: 60px;
	
}

i.far.fa-file-pdf{
	font-size: 1.2rem;
	margin-right: 7px;
}
.li-fst{
	width: 17%;
}

li.\33 -tre {
    width: 30%;
}

.box-noBdr{
	padding:40px;	
}

.cums-box-height {
    min-height: 580px;
}

.cums-box1 {
    height: 280px;
}

.cums-box2 {
    height: 270px;
}

.p-28{
	padding:28px;
}

.p-t150{
	padding-top: 120px;
}
}


/*----------------  1460 to 1600 ---------------*/

@media (min-width: 1600px) and (max-width: 1460px) {


}
	
/*----------------  1336 to 1440 ---------------*/

	@media (min-width: 1336px) and (max-width: 1440px) {

		.table td, .table th {
			padding: 0.5rem !Important;
		}

		.uploads-info {
			padding-left: 60px;
			height: 360px;
			overflow-y: scroll;
			margin-right: 80px;
		}

		.edit-remed {
			height: 700px;
			overflow-y: scroll;
			padding-bottom: 100px;
		}

		.box-border {
			padding: 15px;
		}

		.reme-section {
			height: 380px;
			overflow-y: scroll;
			overflow-x: hidden;
		}


		.active-remdtn .w190 {
			width: 190px !Important;
		}

		.active-remdtn {
			margin-bottom: 60px;
		}

		.reme-section-height {
			min-height: 510px;
		}

		.box-noBdr {
			padding: 10px;
		}

		.w190 {
			width: 190px !Important;
		}


		.amt-head .form-control {
			font-size: 12px;
		}

		.menu-10 {
			overflow-y: scroll;
			height: 900px;
			padding-bottom: 300px;
		}

		.my-modal-fullscreen {
			width: 100%; /* Occupy the 75% of the screen width */
			max-width: 100%;
			height: 100%; /* Occupy the 75% of the screen width */
			max-height: 100%;
			margin: 0 !important;
		
		}
	}

	/* ---------------------  1200 ----------------*/

	@media (min-width: 1024px) and (max-width: 1280px) {
		.edit-remed {
			height: 700px;
			overflow-y: scroll;
			padding-bottom: 100px;
		}

		box-border {
			padding: 15px;
		}

		.reme-section {
			height: 380px;
			overflow-y: scroll;
			overflow-x: hidden;
		}

		.box-noBdr {
			padding: 10px;
		}


		.amt-head .form-control {
			font-size: 12px;
			border: 0 none;
		}

		.menu-10 {
			overflow-y: scroll;
			height: 900px;
			padding-bottom: 300px;
		}

		.table-scroll {
			max-width: 992px;
			overflow: auto;
		}
	}

	/* ---------------------  992 to 1280 ----------------*/
	@media (min-width: 992px) and (max-width: 1280px) {

		.edit-remed {
			height: 600px;
			overflow-y: scroll;
			padding-bottom: 100px;
		}

		.reme-section {
			height: 380px;
			overflow-y: scroll;
			overflow-x: hidden;
		}

		.reme-section-height {
			min-height: 510px;
		}

		.box-noBdr {
			padding: 10px;
		}


		.amt-head .form-control {
			font-size: 12px;
			border: 0 none;
		}

		.menu-10 {
			overflow-y: scroll;
			height: 900px;
			padding-bottom: 300px;
		}

		.table-scroll {
			max-width: 1142px;
			overflow: auto;
		}
	}



	/* ---------------------  992 to 1280 ----------------*/
	@media (min-width: 768px) and (max-width: 1024px) {

		.edit-remed {
			height: 600px;
			overflow-y: scroll;
			padding-bottom: 100px;
		}

		box-border {
			padding: 15px;
		}

		.reme-section-height {
			min-height: 510px;
		}

		.box-noBdr {
			padding: 10px;
		}

		.table-scroll {
			max-width: 992px;
			overflow: auto;
		}
	}



	/* ---------------------  992 to 1280 ----------------*/
	@media (min-width: 640px) and (max-width: 767px) {

		.table-scroll {
			max-width: 992px;
			overflow: auto;
		}
	}
 
 

