﻿
.table td, .table th {
    padding: .35rem;
    text-align:left;
}

.fixed_headers thead {
    position: sticky;
    top: -1px;
    z-index: 99;
    background: #fff;
}

.fixed_headers tbody {
    padding-bottom: 40px;
}





/*---- Datatable ----------------------------*/


#example_length {
    display: none;
}

#example_filter {
    display: none;
}

.tasks #example_filter {
    display: none !important;
}


.Remediations-tasks #example_filter {
    display: none;
}

#example_paginate {
    float: right;
}

#example2_paginate {
    float: right;
}

#example2_length {
    display: none;
}

#example2_filter {
    display: none;
}

.tbl-height tbody {
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
}

.tbl-tabs {
    display: block;
}



.table-bordered th, .table-bordered td {
    border: 0 !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #979797 !important;
    text-align: left;
}

.tbl-height {
    max-height: 220px;
    overflow: auto;
    padding-bottom: 10px;
    padding-right:0;
}

.tbl-height-sm {
    max-height: 250px;
    overflow: auto;
}




/*---- Header fixed Table ---------------*/
.tableFixHead {
    overflow-y: auto;
    height: 240px;
}


/* Just common table stuff. */
table {
    border-collapse: collapse;
    width: 100%;
}

    table a {
        font-weight: 600;
    }

.gridtable tbody {
    display: block;
    max-height: 310px;
    overflow-y: scroll;
}

    .gridtable thead, .gridtable tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

.gridtable thead {
    width: calc(100% - 1.1em);
}

.gridtable thead {
    position: relative;
}

/*

.tbl-box-heightsearchresults tbody {
    display: block;
    max-height: 279px;
    overflow-y: scroll;
}

  

    .tbl-box-heightsearchresults thead, .tbl-box-heightsearchresults tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

      */

/*---------- Client port CSS -------------*/

.tbl-box-height {
    height: 355px;  
    margin-bottom: 10px;
    overflow: auto;
    
}

.tbl-box-heightsearchresults {
    height: 340px;
    margin-bottom: 10px;
    overflow: auto;
   
}

.tbl-box-heightActiveRmediationFromAllRem {
    height: 250px;
    margin-bottom: 10px;
    overflow: hidden;
}

.table-scroll {
    overflow: auto;    
}


/* The style of the selected table row in Client List*/
.clickRowStyl {
    background-color: #badbff !important;
}



/* Client List Row as Pointer*/
table#clientlist tr {
    cursor: pointer !important;
}

/* Tree Grid Component Style Changes*/


/*---------- Client port CSS -------------*/

.tbl-box-height {
    height: 355px;
    overflow: hidden;
    margin-bottom: 10px;
    overflow: auto;
    overflow-x: hidden;
}

.tbl-box-heightActiveRmediationFromAllRem {
    height: 250px;
    margin-bottom: 10px;
    overflow: hidden;
}

/*---------- Client port CSS -------------*/

.tbl-box-height{
	height: 355px;   
    margin-bottom: 10px;
    overflow: auto;
	
}

.tbl-box-heightsearchresults {
    height: 240px;
    margin-bottom: 10px;
    overflow: auto;
}

 .tbl-box-heightsearchresults thead {
        position: sticky;
        top: -1px;
        z-index: 999;
        background: #fff;
    }


.tbl-box-heightsearchresults tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.tbl-box-heightconsumersearchresults {
    height: 360px;
    margin-bottom: 10px;
    overflow: auto;
}

.tbl-box-heightconsumersearchresults thead {
    position: sticky;
    top: -1px;
    z-index: 999;
    background: #fff;
}


.tbl-box-heightconsumersearchresults tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}


.tbl-box-heightActiveRmediationFromAllRem {
        height: 250px;
        margin-bottom: 10px;
        overflow: hidden;
}

.e-grid .e-table tr (odd) {
    background-color: rgba(0,0,0,.05) !important;
}

.e-grid .e-table tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05) !important;
}

.e-grid .e-gridheader {
    padding-right: 0 !important;
}

#_gridcontrol .e-content {
    overflow-y: auto !important;
}

.e-grid .e-rowcell {
    font-size: 14px !important;
    color: #414141 !important;
    overflow: visible !important;
}

.e-grid .e-headercelldiv {
    font-size: 1rem !important;
    font-weight: 900 !important;
    color: #414141 !important;
}

.e-grid.e-responsive .e-rowcell, .e-grid.e-responsive .e-headercelldiv {
    text-overflow: unset !important;
    white-space: nowrap;
}

.e-grid .e-sortfilterdiv {
    width: 10px;
    position: absolute;
    right: 0px;
}

@media only screen and (max-device-width: 1366px) {
    #_gridcontrol .e-control {
        width: 1290px !important;
        overflow: auto !important;
    }

    .e-grid .e-headercelldiv {
        overflow: visible !important;
    }

    .e-treegrid .e-rowcell:not(.e-gridclip) .e-treecolumn-container {
        display: block;
        overflow: visible !important;
        text-overflow: unset !important;
    }
}

.e-grid.e-wrap .e-rowcell, .e-grid.e-wrap .e-columnheader .e-stackedheadercelldiv, .e-grid.e-wrap .e-columnheader .e-headercelldiv {
    overflow-wrap: inherit !important;
    word-wrap: inherit !important;
}


/*Sorted table Styles*/
thead button {
    border: 0;
    border-radius: none;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5em;
    margin-bottom: 1px;
    background-color: transparent;
    padding-right: 0em;
    padding-left: 0em;
    text-align:left;
}

table th button.ascending::after {
    font-family: "FontAwesome";
    font-family: "Font Awesome 5 Free";
    content: "\f0d8";
    display: inline-block;
    margin-left: 1em;
}

table th button.descending::after {
    font-family: "FontAwesome";
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    display: inline-block;
    margin-left: 1em;
}

table th.descendingmode::after {
    font-family: "FontAwesome";
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    display: inline-block;
    margin-left: 1em;
}

table th.ascendingmode::after {
    font-family: "FontAwesome";
    font-family: "Font Awesome 5 Free";
    content: "\f0d8";
    display: inline-block;
    margin-left: 1em;
}

table th button.sortablecolumn::after {
    font-family: "FontAwesome";
    font-family: "Font Awesome 5 Free";
    content: "\f338";
    display: inline-block;
    margin-left: 1em;
}

table td.collapsedmode::after {
    font-family: "FontAwesome";
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    display: inline-block;
    margin-left: 1em;
}

tbody td {    
    border-bottom: 1px solid #ccc;
}

tbody tr:hover {
    background-color: #eee;
}


/*table button left aligned*/

#upcmg-table .btn-link {
    padding-left: 0px;
    padding-top: 0;
    word-break: break-all;
    white-space: pre-wrap;
    text-align: left;
    padding-block: 0;
}

table .btn-link {
    padding-left: 0;
    padding-top: 0;
    padding-block:0;
}
th button {
padding:0;
}
td.reset-expansion-style {
    padding: 3px;
}


thead tr {
    border-bottom: 1px solid #ccc;
}